{% load static %}
<footer class="bg-white text-center text-lg-start border-top mt-5">
  <div class="container p-4">
    <div class="row">

      <!-- Links -->
      <div class="col-12 col-md-6 mb-3 d-flex flex-column align-items-start align-items-md-end text-md-end">
        <a href="{% url 'about' %}" class="text-decoration-none mb-2 text-dark">About Us</a>
        <a href="{% url 'contact' %}" class="text-decoration-none text-dark">Contact Us</a>
      </div>

      <!-- Image -->
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <img src="{% static 'footer.jpg' %}" alt="Logo" class="img-fluid" style="max-height: 200px;">
      </div>

    </div>
  </div>
</footer>
